@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    
  }
  .valid{
    width: 300px;
    margin:10% auto;
    max-width: 100%;
    padding: 40px;
    background:url(./assets/sidebar.jpg);
    border-radius: 20px;
  }
  .input-container{
  margin: 10px 0;
  display:flex;
  font-size: 16px;
  font-weight:600;
  flex-direction: column;
  }
  .button-container{
  margin: 10px 0;
  
  
  }
  .input{
    padding:5px;
    border-radius:5px;
  }
  .sub{
    padding:10px;
    background-color: aqua;
    color:black;
    border-radius: 5px;
  }
  .title{
    text-align:center;
    font-size:30px;
    font-family: 'Lobster', cursive;

  }
  
  .two-button{
    display: flex;
    justify-content: space-between;
  }

.navbar{
  display: flex;
  list-style: none;
}
  .links{
    display: flex;
  }
  .items{
    padding:5px;
  }

  .container{
    max-width:90% !important;
  }

  .table {
    margin:50px auto;
  }

  .table h2{
    font-size: revert !important;
    font-weight: revert !important;
    padding:10px;
  }
  .table tbody tr:hover {
    background:deepskyblue ;
    color: whitesmoke;
  }

  .w-full li {
    color:red;
    background-color: aqua;
  }
.center{
  background-color: red;
}
  /*Features*/

 .features{
   display: flex;
   justify-content: space-evenly;
   text-align: center;
 }
 .topics{
  padding:20px;
 }
 .topics h2{
   padding-bottom: 10px;
 }
 .topics svg{
  display: inline ;
  font-size: 25px;
}


/*split sections*/


.split{
  
  background-color: darkgrey;
}
.marketplace{
  margin: 20px auto;
}
.message{
  background-color: white;
  text-align: center;
  color: black;
  padding:10px;
  border-radius: 15px 0 15px 0;
}
.grid-icon{
  display: inline;
  border-radius: 50%;
  background: red;
  color: white;
  padding: 6px;
}

.house{
  text-align: center;
  margin: 10px auto;
}
.house img{
  height:300px;
  width:100%;
}
.price{
  position: relative;
}
.details{
  position:absolute;
  width:280px;
  background-color: white;
  color:black;
  font-size: 25px;
  bottom:0px;
  font-weight:bold;
}

/*Flex*/
.test{
  background-color: blueviolet;
  color: aliceblue;
  text-align: center;
  height:80px;
}


  /*Footer*/
  
  
  .footer{
    background: black;
    padding:40px 0;
    color:white;
  }
  .logo{
    width:60px;
    display: inline;
  }
  .contents{
    display:flex;
    justify-content: space-between;
   }
   .content{
     padding:10px;
     
   }
   .contents ul {
     list-style-type: none;
   }
   .contents ul li{
     padding:5px 5px 5px 0;
   }
   .contents ul li a {
     color:white;
    text-decoration:none;
    font-size:15px;
    font-weight:lighter;
   }
   .contents ul li a:hover{
     color:red;
     cursor:pointer;
   }
   .content h4{
     padding-bottom:10px;
   }
   address{
     font-weight:lighter;
   }
   
  .icons{
    display:flex;
    justify-content: center;
    }
    .icons li a{
      padding:4px;
    }
    .social ul li a{
      font-size:20px ;
    }
   

    /*responsive*/
    @media only screen  and (max-width:1024px){
      .grid-cols-5{
        display: flex;
        flex-direction: column;
      }
    }

    @media only screen  and (max-width:991px){
      .footer{
        padding:10px;
      }
      .icons li a{
       padding:0; 
      }
      .icons li a{
        padding:3px;
      }
      address{
        font-size:15px !important;
      }
      .detail{
        font-size:15px;
        font-weight: lighter;
        margin-top:5px;
      }
      .contents ul li a{
        font-size:15px;
      }
      .contents ul li {
        padding:1px;
      }
      .content h4{
        font-size:19px;
        margin-bottom:5px;
        padding-bottom: 0;
      }
      .list-1{
        font-size:15px;
      }
      .features{
        text-align: left;
        padding: 10px;
        }
      .topics h2{
        padding-bottom: 10px;
        font-size: 20px !important;
      }
      .topics p{
          font-size: 16px !important;
      }
      .topics svg{
       display: inline ;
       font-size: 20px;
     }
    .house{
      display: flex;
      flex-direction: column;
    }
      
    }

    @media only screen  and (max-width:767px){
      
       .content h4{
         font-size:18px;
         margin-bottom: 0 !important;
         padding:0;
       }
       .valid-form{
         width:94%;
       }
      .content{
        width:100%;
      }
      .content ul li{
        padding:0px;
      }
      .icons li a{
        padding:5px;
      }
      .content ul li a{
        font-size:14px;
      }
      .contents{
        flex-direction: column;
        text-align:center;
      }
      .features{
        flex-direction: column;
      }
      .split{
        display: flex;
        flex-direction: column;
      }
      .tablist{
        display: flex;
        flex-direction: column;
      }
     
      
    }
    
    